body {
  font-family: 'PT Sans', sans-serif;
}

.navbar_container {
  display: flex;
  padding-bottom: 5px;
  width: 100%;
  align-items: center;
  border-bottom: solid 1.25px #696969;
  margin-bottom: 10px;
}

.navbar_left {
  font-size: 1.2em;
  margin-right: auto;
  margin-top: 0.70em;
  margin-bottom: 10px;
  padding-left: 10px;
  font-weight: normal;
  color: #696969;
}

.navbar_right {
  display: flex;
  list-style: none;
  margin-left: auto;
}

.navbar_right li {
  list-style: none;
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  text-transform: uppercase;
}

.navbar_right a {
  text-decoration: none;
}

.navbar_right a:active {
  color: #00CED1;
}

.navbar_right a:visited {
  color: #696969;
}

.teacher_profiles_container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.profile_container {
  background-color: #eeeeee;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  width: 400px;
}

.box_top_container {
  display: flex;
  width: 100%;
  vertical-align: top;
  border: solid 0.5px #696969;
  padding: 10px;
}

.box_top_left {
  float: left;
  width: 30%;
}

.teacher_photo {
  width: 20%;
  border: solid;
  border-color: #696969;
  border-radius: 100%;
  min-width: 100px;
  border: 1px;
  margin: 4px;
  vertical-align: middle;
}

.box_top_right {
  margin-left: auto;
  width: 60%;
}

.box_top_right h2 {
  margin-bottom: 5px;
  font-size: 1.2em;
}

.box_top_right h3 {
  margin-top: 5px;
  font-weight: normal;
  font-size: 1.0em;
}

.box_bottom_container {
  display: flex;
  width: 100%;
}

.box_bottom_container h4 {
  font-weight: bold;
}

.courses_left {
  border-left: solid 0.5px #696969;
  border-bottom: solid 0.5px #696969;
  padding: 20px;
  width: 50%;
  text-align: center;
}

.courses_left p {
  margin-bottom: 0;
  margin-top: 0;
}

.courses_left h4 {
  margin: 5px;
}

.rating_right {
  border-left: solid 0.5px #696969;
  border-right: solid 0.5px #696969;
  border-bottom: solid 0.5px #696969;
  padding: 20px;
  width: 50%;
  text-align: center;
}

.rating_right h4 {
  margin: 5px;
}

/*STUDENTS*/
.student_profiles_container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.student_profile {
  width: 25%;
  background-color: #eeeeee;
  border: solid 0.5px #696969;
  margin: 20px;
  min-width: 200px;
}

.student_profile_top {
  text-align: center;
}

.student_photo {
  border: solid 0.5px #696969;
  border-radius: 100%;
  float: center;
  width: 20%;
  min-width: 100px;
  margin-top: 10%;
}

.student_profile_top h2 {
  font-weight: bold;
  font-size: 1.0em;
  padding-top: 10px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.student_profile_top h3 {
  font-size: 0.8em;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.student_profile_bottom {
  border-top: solid 0.5px #696969;
  padding: 4%;
}
.student_row {
  padding-bottom: 10px;
}

.student_cell_left {
  display: table-cell;
  font-weight: bold;
  font-size: 0.8em;
  min-width: 70px;
  text-align: right;
  padding-right: 5%;
}

.student_cell_left p {
  margin-bottom: 0;
  margin-top: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.student_cell_right {
  display: table-cell;
  text-align: left;
  font-size: 0.8em;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.student_cell_right p {
  margin-bottom: 0;
  margin-top: 0;
  min-width: 150px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

/*COURSES*/

.course_info_container {
  display: flex;
  flex-flow: column wrap;
}

.course_info_box {
  display: flex;
  background-color: #eeeeee;
  margin: 5px;
  width: 45%;
  min-width: 250px;
  border: solid 1px #696969;
}

.course_info_left {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
  width: 33%;
}

.course_info_left_top h2 {
  padding-top: 4px;
  font-size: 1.0em;
  font-weight: normal;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.course_info_left_bottom h3 {
  padding-bottom: 4px;
  font-size: 0.8em;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.course_info_right {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
}

.course_info_teacher {
  display: flex;
  padding-top: 2px;
  padding-bottom: 2px;
}

.course_info_semester {
  display: flex;
  padding-top: 2px;
  padding-bottom: 2px;
}

.course_info_right h4 {
  font-weight: bold;
  padding-right: 4px;
  font-size: 0.8em;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.course_info_right p {
  font-size: 0.8em;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

@media screen and (max-width:600px) {
  .course_info_container {
    flex-wrap: no-wrap;
    align-items: center;
  }
}
