body {
  font-family: 'PT Sans', sans-serif;
}

.navbar {
  display: inline-block;
  padding-bottom: 20px;
  width: 100%;
}

.navbar h1 {
  display: inline-block;
  font-size: 1.0em;
  float: left;
  padding-left: 10px;
}

.navbar li {
  display: inline;
  float: right;
  list-style: none;
  margin: 0;
  padding-left: 5px;
  text-transform: uppercase;
}

.teacher_profiles_container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.profile {
  background-color: #eeeeee;
  border-color: #303030;
  border: solid;
  border-width: 1px;
  margin: 20px;
  width: 400px;
}

.box-top {
  vertical-align: top;
}

.box-bottom {
  display: inline-flex;
  width: 100%;
}

.photo_name_subject {
  border-color: #303030;
  border: solid;
  border-width: 0.5px;
  padding: 10px;
}

.teacher_photo {
  float: left;
  width: 20%;
  border: solid;
  border-color: #303030;
  border-radius: 100%;
  min-width: 100px;
  border: 1px;
  margin: 4px;
  vertical-align: middle;
}

.courses {
  border-color: #303030;
  border: solid;
  border-width: 0.5px;
  padding: 20px;
  width: 50%;
  text-align: center;
}

.courses p {
  margin-bottom: 0;
  margin-top: 0;
}

.courses h4 {
  margin: 5px;
}

.rating {
  border-color: #303030;
  border: solid;
  border-width: 0.5px;
  padding: 10px;
  width: 50%;
  text-align: center;
}

.rating h4 {
  margin: 5px;
}

.box_bottom h4 {
  font-weight: bold;
}

/*STUDENTS*/
.student_profiles_container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.student_profile {
  width: 25%;
  background-color: #eeeeee;
  border-color: #303030;
  border: solid;
  border-width: 1px;
  margin: 20px;
  min-width: 400px;
}

.student_profile_top {
  border-color: #303030;
  border: solid;
  border-width: 1px;
  text-align: center;
}

.student_photo {
  border: solid;
  border-radius: 100%;
  float: center;
  width: 20%;
  min-width: 100px;
  margin-top: 10%;
}

.student_profile_top h2 {
  font-weight: bold;
}

.student_profile_bottom {
  border-color: #303030;
  border: solid;
  border-width: 1px;
  padding: 8%;
}
.student_row {
  padding-bottom: 10px;
}

.student_cell_left {
  display: table-cell;
  font-weight: bold;
  min-width: 100px;
  text-align: right;
  padding-right: 5%;
}

.student_cell_right {
  display: table-cell;
  text-align: left;
  padding-left: 10%;
}

.student_cell_right p {
  margin-bottom: 0;
  margin-top: 0;
  min-width: 150px;
}

/*COURSES*/

.course_info_container {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column wrap;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

.course_info_box {
  display: flex;
  background-color: #eeeeee;
  margin: 5px;
  width: 40%;
}

.course_info_left {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  width: 33%;
  max-height: 100px;
}

.course_info_left_top h2 {
  margin-bottom: 10px;
  margin-top: 24px;
}

.course_info_left_bottom h3 {
  margin-top: 10px;
}

.course_info_right {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  width: 60%
}

.course_info_teacher {
  padding-top: 10px;
  padding-bottom: 5px;
}

.course_info_semester {
  padding-top: 5px;
  padding-bottom: 10px;
}

.course_info_right h4 {
  font-weight: bold;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.course_info_right p {
  margin: 0;
}
